<footer class="text-center text-lg-start text-white">
  <hr class="mb-4" style="border-color: #666" />

  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <div class="mb-4 text-center">
      <!-- Facebook -->
      <a class="btn m-1" href="#!" role="button"
        ><i class="fa-brands fa-square-facebook fa-2xl" style="color: #000000"></i
      ></a>

      <!-- Twitter -->
      <a class="btn"><i class="fa-brands fa-square-twitter fa-2xl" style="color: #000000"></i></a>

      <!-- Github -->
      <a class="btn m-1" href="#!" role="button"
        ><i class="fa-brands fa-square-github fa-2xl" style="color: #000000"></i
      ></a>
    </div>

    <div class="text-center p-3" style="color: #76757d">Copyright © Hack Academy 2023</div>
  </div>
</footer>
