<nav class="navbar navbar-expand-lg bg-dark sticky-top">
  <div class="container">
    <a class="navbar-brand slide-in-1 text-white" id="brand" href="/"
      ><strong>Hack the Blog</strong></a
    >
    <div>
      <a href="/login" class="btn btn-primary btn-sm" role="button">Login</a>
      <a href="/registro" class="btn btn-primary btn-sm" role="button">Register</a>
      <a href="/admin" class="btn btn-primary btn-sm" role="button">Admin</a>
    </div>
  </div>
</nav>
