<nav class="navbar navbar-expand-lg bg-dark sticky-top">
  <div class="container">
    <a class="navbar-brand slide-in-1 text-white" id="brand" href="/"><strong>Hack the Blog</strong></a>
    <a href="/admin" class="btn btn-primary px-5" role="button">Admin</a>
  </div>
</nav>