<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hack the Blog</title>

    <!-- llamado a kit de iconos de FONT AWESOME -->
    <script src="https://kit.fontawesome.com/69dcecacbf.js" crossorigin="anonymous"></script>
    <!-- FIN llamado a kit de iconos -->

    <!--llamado a BOOTSTRAP-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/style.css" />
    <!--FIN llamado a BOOTSTRAP-->
  </head>

  <body>
    <!--============================== NAVBAR ==============================-->
    <nav class="navbar navbar-expand-lg bg-dark sticky-top">
      <div class="container">
        <a class="navbar-brand slide-in-1 text-white" id="brand" href="/"
          ><strong>Hack the Blog</strong></a
        >
        <a href="#" class="btn btn-primary px-5" role="button">Admin</a>
      </div>
    </nav>
    <!--============================== NAVBAR ==============================-->

    <!--============================== SECTION: HERO ==============================-->
    <section
      class="hero-section bg-image"
      style="
        background-image: url('../public/img/amy-hirschi-szrJ3wjzOMg-unsplash.jpg');
        height: 35vh;
        background-size: cover;
      "
    >
      <div class="container h-100">
        <div class="row h-100 align-items-center">
          <div class="col-12 text-center text-white">
            <h1><strong>Hack the Blog</strong></h1>
            <p>El Blog de Hack Academy</p>
          </div>
        </div>
      </div>
    </section>
    <!--============================== SECTION: HERO ==============================-->
    <!--============================== SECTION: ARTICLES ==============================-->
    <section class="container d-flex flex-column" id="articlesPreview">
      <article class="mx-auto my-5 mw-70">
        <h3>
          <strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, modi? </strong>
        </h3>
        <small style="color: #76757d">Creado por Murray McFly el 25 de Setiembre, 2022</small>
      </article>
      <article class="mx-auto my-5 mw-70">
        <h3>
          <strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, modi? </strong>
        </h3>
        <small style="color: #76757d">Creado por Murray McFly el 25 de Setiembre, 2022</small>
      </article>
      <article class="mx-auto my-5 mw-70">
        <h3>
          <strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, modi? </strong>
        </h3>
        <small style="color: #76757d">Creado por Murray McFly el 25 de Setiembre, 2022</small>
      </article>
      <article class="mx-auto my-5 mw-70">
        <h3>
          <strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, modi? </strong>
        </h3>
        <small style="color: #76757d">Creado por Murray McFly el 25 de Setiembre, 2022</small>
      </article>
      <article class="mx-auto my-5 mw-70">
        <h3>
          <strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, modi? </strong>
        </h3>
        <small style="color: #76757d">Creado por Murray McFly el 25 de Setiembre, 2022</small>
      </article>
    </section>

    <!--============================== FOOTER ==============================-->

    <footer class="text-center text-lg-start text-white">
      <hr class="mb-4" style="border-color: #666" />

      <div class="container p-4 pb-0">
        <!-- Section: Social media -->
        <div class="mb-4 text-center">
          <!-- Facebook -->
          <a class="btn m-1" href="#!" role="button"
            ><i class="fa-brands fa-square-facebook fa-2xl" style="color: #000000"></i
          ></a>

          <!-- Twitter -->
          <a class="btn" href="#!" role="button"
            ><i class="fa-brands fa-square-twitter fa-2xl" style="color: #000000"></i
          ></a>

          <!-- Github -->
          <a class="btn m-1" href="#!" role="button"
            ><i class="fa-brands fa-square-github fa-2xl" style="color: #000000"></i
          ></a>
        </div>

        <div class="text-center p-3" style="color: #76757d">Copyright © Hack Academy 2023</div>
      </div>
    </footer>
  </body>
</html>
